body{
    background-color: linen;
}
main{
    display: flex;
    justify-content: center;
}
#content-buttons{
    display:flex;
    justify-content: space-between;
}
button{
    height:25px;
}
#productList{
    width:90vw;
    margin: 0 auto;
    margin-top:40px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:20px;
    max-width: 940px;
}
.meat-box{
    background-color: lightgrey;
    height:300px;
    width:300px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left:auto;
    border-radius: 10px;
    text-align: center;

}
.meat-img{
    padding-top:1vh;
    height:60%;
    width:60%;
    margin:auto;
}
@media only screen and (max-width: 1044px) {
    #productList{   
        max-width: 620px;
    }
}
@media only screen and (max-width: 688px) {
    #productList{   
        max-width: 326px;
    }
}
